.cart-item-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

@media only screen and (max-width: 768px) {
    .cart-item-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* CSS */

.order-button-div {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
.order-now-button {
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.order-now-button::after,
.order-now-button::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}

.order-now-button::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #28282d;
    border-radius: 10px;
}

.order-now-button::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
}

.order-now-button:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.order-now-button:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.order-now-button:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}